<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="./node_modules/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="my">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 style="display: inline-block;">我的购物清单 </h1>
                <label for="">总数：{{list.length}}</label>
            </div>
            <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="content" placeholder="请输入清单内容" >
                        <span class="input-group-btn" role="group" >
                                <button type="button" class="btn btn-primary"  @click.stop="add" >添加</button>
                        </span>
                    </div>
                    <table class="table">
                        <thead>
                            <th>序号</th>
                            <th>清单名称</th>
                            <th> <input type="checkbox" v-model="allstatus" @change="changeAllStatus(allstatus)"> 状态</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in list">
                                <td>{{index+1}}</td>
                                <td >{{item.content}}</td>
                                <td> <input type="checkbox" v-model="item.status" @change="changeStatus(item.id,item.status)"> {{item.status?"已购买":"未购买"}}</td>
                                <td><button type="button" class="btn btn-danger btn-sm" :disabled="!item.status" @click="del(item.id)">删除</button></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</body>
</html>